<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="it.scfgroup.KioskMode.KioskMode">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
	<application android:label="KioskMode.Android">
        
        
        <receiver android:name=".BootReceiver" android:enabled="true" android:exported="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
              <intent-filter>
                        <action android:name="android.intent.action.BOOT_COMPLETED"  android:priority="999"/>
                        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                        <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
       </receiver>
    </application>
</manifest>